body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.gnbwrap {
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    background-color: #000;
}

.gnbBtn {
    background-color: #000;
    border: none;
    outline: none;
    color: #797979;
    /* width: 56px; */
    font-size: 1rem;
    margin-left: 100px;
    cursor: pointer;
}

:hover.gnbBtn {
    color: #fff;
}

.gnbSub {
    display: none;
    width: inherit;
    border: #000;
}

.gnbSub a:hover  {
    background-color: #000;
}

.gnbSub a {
    display: block;
    text-align: center;
}

.dropDown {
    display: flex;
    flex-direction: column;
}

.dropDown:hover .gnbSub {
    display: block;
}



select {
    appearance: none;
    outline: none;
    margin: 16px;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 16px;
}
