* {
    margin: 0;
    padding: 0;
  }

  li {
    text-decoration: nones;
  }

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: relative;
}

.logoBox {
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuArea {
    width: 100%;
}

.menuTitle {
    display: flex;
    height: auto;
    color: white;
}

div.menuArea > ul.menuTitle > li {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    /* &:hover {
        color: #f2f2f2;
    } */
}

div.menuArea > ul.menuTitle > li:hover {
    color: aqua;
}

.menuS {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    z-index: 1;
}

.menuSub {
    display: none;
    height: 200px;
}

.menuSub > ul {
    width: auto;
    text-align: center;
}

.menuSub > ul > li {
    padding: 8px;
    background-color: black;
    color: #fff;
}

..menuSub > ul > li:hover {
    color: #f2f2f2;
}

.menuSub > ul > li > a {
    text-decoration: none;
    display: inline-block;
    color: white;
}